torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
ffmpeg
numpy
scikit-learn
matplotlib
opencv-python
absl-py
accelerate
cityscapesscripts
einops
ftfy
huggingface-hub
hydra-core
ipython
jinja2
kornia
kornia-rs
lightning-utilities
omegaconf
open-clip-torch
peft
pillow
propcache
protobuf
pycocotools
pyquaternion
pytorch-lightning
requests
safetensors
schedulefree
scipy
tensorboard
timm
tokenizers
tqdm
transformers
ipykernel
rerun-sdk
scikit-image
cupy-cuda12x==13.3.0